# Port to run the NestJS server
PORT=3000

# The secure directory boundary that the parser is allowed to scan (absolute path)
# Default during local development is the monorepo root directory
WORKSPACE_ROOT=../../
